.burger {
  display: none;

  @include vp-767 {
    position: absolute;
    display: inline-block;
    padding: 10px;
    right: 10px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
  }
}

.burger__cross {
  position: relative;
  display: block;
  width: 24px;
  height: 2px;
  background-color: $color-seashell;

  &::after,
  &::before {
    position: absolute;
    width: 24px;
    height: 2px;
    left: 0;
    background-color: $color-seashell;
    content: "";
    transform: rotate(0deg);
    transition: transform $trans-default;
  }

  &::after {
    top: 5px;
  }

  &::before {
    bottom: 5px;
  }
}

.menu-opened .burger__cross {
  &::after,
  &::before {
    width: 19px;
    transform-origin: center right;
    background-color: $color-tangaroa;
  }

  &::after {
    top: 7px;
    transform: rotate(45deg);
  }

  &::before {
    bottom: 7px;
    transform: rotate(-45deg);
  }
}
