.custom-input {
  position: relative;
  display: flex;

  input {
    flex-grow: 1;
    margin-left: auto;
    padding: 12px 16px 13px;
    background-color: $color-seashell;
    border: none;
    outline: none;

    transition: background-color $trans-default;

    &:hover {
      background-color: rgba($color-seashell, 0.5);
    }

    &:focus {
      background-color: rgba($color-seashell, 0.8);
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }
}
