.logo {
  display: inline-block;
  margin-right: 40px;
  color: $color-seashell;

  @include vp-1023 {
    margin-right: 25px;
  }
}

.logo__icon {
  width: 70px;
  height: 38px;
  fill: currentColor;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.menu-opened .header .logo {
  @include vp-767 {
    margin-left: 44px;
    color: $color-tangaroa;
    z-index: 2;
  }
}
